@font-face {
    font-family: am-font;
    src: url('../fonts/dejavu-sans.ttf');
}
html,body 
{
	width: 100%;
	height: 100%;
}
body 
{
	padding-top: 60px;
	font-family: am-font;
}
input, button
{
	outline: none !important;
}
.body-font 
{
	font-family: am-font;
}
.orange 
{
	color:#f8a630;
}

.navbar-brand 
{
	padding: 1px 0px 0px 25px;
}
.navbar-brand img 
{
	height: 55px;
}
.navbar
{
	background-color: #f8a630;
}
.page-scroll 
{
	padding-left: 25px;
}
.page-scroll li a:hover 
{
	color: #ffffff !important;
	text-decoration: underline;
	background-color: #f8a630 !important;
}
.page-scroll li a
{
	color: #ffffff !important;
}
.page-scroll li a:focus 
{
	color: #ffffff !important;
	background-color: #f8a630 !important;
}
.navbar-toggle
{
	background-color: #ffffff;
}
.icon-bar
{
	background-color: #f8a630;
}

/*
 * Main section css
*/

.page-block 
{
	width: 100%;
	height: 100%;
}
.heading 
{
	font-size: 18px;
}
.order-description
{
	font-size: 12px;
	margin-top: 20px;
}
.top-logo img 
{
	max-width: 400px;
    width: 100%;
}
.vertical-center 
{
	margin-top: 4%;
}
.top-description p
{
	margin-top: 40px;
}
.get-notified 
{
	margin-top: 10px;
}
.order-now
{
	margin-top: 45px;
}
.top-margin 
{
	margin-top: 5px;
}
.answer
{
	font-size: 14.75px;
	text-align: left;
	margin-left: 30px;
	margin-top: 20px;
	line-height: 30px; 
}