@font-face {
    font-family: am-font;
    src: url('../fonts/dejavu-sans.ttf');
}
html,body 
{
	width: 100%;
	height: 100%;
}
body 
{
	padding-top: 60px;
	font-family: am-font;
}
input, button
{
	outline: none !important;
}
hr 
{
	margin-bottom: 0px;
	border-top: 1px solid #f8a630;
}
.body-font 
{
	font-family: am-font;
}
.orange 
{
	color:#f8a630;
}
.vertical-margin 
{
	margin-top: 45px;
}
.top-margin 
{
	margin-top: 5px;
}
.no-padding
{
	padding: 0;
}
.heading 
{
	font-size: 18px;
}






/**
 * Navbar css
*/
.navbar-brand 
{
	padding: 1px 0px 0px 25px;
}
.navbar-brand img 
{
	height: 55px;
}
.navbar
{
	background-color: #f8a630;
}
.page-scroll 
{
	padding-left: 25px;
}
.page-scroll li a:hover 
{
	color: #ffffff !important;
	text-decoration: underline;
	background-color: #f8a630 !important;
}
.page-scroll li a
{
	color: #ffffff !important;
}
.page-scroll li a:focus 
{
	color: #ffffff !important;
	background-color: #f8a630 !important;
}
.navbar-toggle
{
	background-color: #ffffff;
}
.icon-bar
{
	background-color: #f8a630;
}

/*
 * Main section css
*/
.main-section
{
	position: relative;
}

.top-logo img 
{
	max-width: 400px;
    width: 100%;
}

.arrow-down 
{
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -25px;
}

.arrow-down img 
{
	width: 50px;
	cursor: pointer;
}


/**
 * About us section css
*/

.stat:nth-child(1)
{
	padding-left: 0;
}
.stat 
{
	font-size: 20px;
	padding-top: 30px;
	border-top: 1px solid #f8a630;
}
.stat .number 
{
	font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
}
.answer
{
	font-size: 14.75px;
	margin-top: 20px;
	line-height: 30px; 
}


/**
 * Feedbacks section css
 *
*/

.feedback .content .author
{
	margin-top: 20px;
}

.feedback .image img 
{
	width: 100%;
	max-width: 190px;
	border-radius: 50%;
    border: 3px solid #cfcfcf;
}


/**
 * Footer css
*/

footer 
{
	color: #ffffff;
	background-color: #f8a630;
	padding: 15px;
	line-height: 25px;
}


/**
 * Order modal css
*/

.phone-submit
{
	width: 100%;
	margin-top: 10px;	
}


/**
 * Call to action css
*/

.order-row p
{
	margin-bottom: 24px;
    font-size: 18px;
}

/**
 * Media queries
*/

@media screen and (max-width: 767px) 
{
	.feedback .content 
	{
		margin-top: 30px;
	}
	.scale-font
	{
		font-size: 37px;
	}
	.main-section .order-now 
	{
		margin-bottom: 20px;
	}
	.stat 
	{
		padding-bottom: 30px;
	}
	.arrow-down 
	{
		display: none;
	}
}

@media screen and (min-width: 767px)
{
	.page-block 
	{
		min-width: 100%;
		min-height: 100%; 
	}
}
